.container {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr)
}

/* STUFF FROM TOP RIGHT START */

.top-right {
    grid-area: 1/3/2/4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.inner-top-right {
    grid-area: 1/2/2/3;
}

.top-right-links {
    padding-right: 15px;
    display: flex;
    margin: 15px 0 0 60px;
    font-family: arial, sans-serif;
    font-size: 13px;
}

.link-div {
    display: inline-block;
    padding-left: 15px;
    margin: 3px 0;
}

.link {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}

.link:hover {
    text-decoration: underline;
}

.google-apps-div {
    position: relative;
    display: inline-block;
    line-height: normal;
    padding-left: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 0 0 15px;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

.google-apps {
    background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    opacity: .55;
    background-size: 528px 68px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.google-apps:hover {
    opacity: .85;
}

/* STUFF FROM TOP RIGHT END */


/* STUFF FROM CENTER START */

.center {
    grid-area: 2/1/3/4;
}

.btm-center {
    grid-area: 3/1/4/4;
    display: flex;
    align-items: center;
    margin: 0px auto auto auto;
}

.test {
    border-style: solid;
    border-color: black;

}

.ggl-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

@media only screen and (max-height: 536px) {
    .ggl-img {
        padding-top: 10px !important;
        height: 72px;
        width: auto;
    }
}


.bar {
    width: auto;
}

.bar-border {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto 20px;
    width: 582px;
}

.bar-border:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.icons-div {
    display: flex;
    align-items: center;
    padding-left: 11px;
    padding-right: 13px;
    /* margin-top: -5px; */
}

.search-icon {
    margin: auto;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    align-items: center;
}

input[type="submit"]:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.mic-icon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

/* STUFF FROM CENTER END */

.search-input-div {
    color: transparent;
    flex: 100%;
    white-space: pre;  
    font: 16px arial,sans-serif;
    color: rgba(0,0,0,.87);
    line-height: 34px;
    height: 34px !important;
    width: 487px;
}

.search-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -62px;
    height: 34px;
    line-height: 34px;
    width: 487px;
    font: 16px arial,sans-serif;
}


.g-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}